.about-page {
    max-width: 1024px;
    margin: 48px auto;
    text-align: center;
    letter-spacing: 2px;
}

.about-text {
    max-width: 768px;
    margin: auto;
    margin-bottom: 32px;
}

.about-title {
    font-size: 48px;
    font-weight: 700;
}

.about-description {
    margin: 24px auto;
}

.values-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    gap: 36px;
}

.value-card {
    padding: 24px;
    box-shadow: 0px 1px 4px rgb(33, 33, 33);
}

.card-title {
    margin-top: 12px;
}

@media only screen and (max-width: 768px) {
    /* for mobile users */

    .about-title {
        font-size: 32px;
    }

    .about-description {
        font-size: 16px;
    }

    .values-cards {
        margin: 24px;
    }
}