@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.option {
    padding: 18px;
    text-decoration: none;
    color: rgb(204, 204, 204);
    font-weight: 700;
    font-size: 18px;
}

.option:hover {
    color: white;
}

.active {
    color: white;
}
